# Python
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.dat
*.egg-info/
dist/
build/

# Environment
.blsh/
.venv/
.env
.blsh
open-trading-api


# IDE
.vscode/
.idea/
.claude/

# OS
.DS_Store
Thumbs.db

# Temp
.temp/
